.navbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
} 
.col-sm-4 > img{
    width: 100%;
}

a:link, a:visited, a:active, a:hover{
    text-decoration:none;
    color: black;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}